<!-- Profile Sidebar -->
<div class="profile-sidebar">
    <img src="/uploads/product-images/<%= user.profileImage %>" alt="Profile Picture" class="profile-pic">
    <h3 class="profile-name"><%= user.name %></h3>
    <ul class="profile-nav">
      <li><a href="#" class="active" onclick="showTab('profile-details')"><i class="fa fa-user"></i> My Details</a></li>
      <li><a href="#" onclick="showTab('profile-addresses')"><i class="fa fa-map-marker"></i> My Addresses</a></li>
      <li><a href="#" onclick="showTab('profile-orders')"><i class="fa fa-shopping-bag"></i> Order History</a></li>
      <li><a href="#" onclick="showTab('profile-edit')"><i class="fa fa-pencil"></i> Edit Profile</a></li>
      <li><a href="#" onclick="showTab('profile-security')"><i class="fa fa-lock"></i> Change Password</a></li>
      <li><a href="/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
    </ul>
  </div>