* {
    box-sizing: border-box;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  @media (min-width: 768px) {
    .login-container {
      flex-direction: row;
    }
  }
  
  .login-form {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
  
  .login-form form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
    background-color: #f9f9f9;
  }
  
  .login-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
  }
  
  .login-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  @media (max-width: 767px) {
    .login-image {
      display: none;
    }
  }
  
  .login-image .logo {
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .error-message {
    color: red;
    font-weight: bold;
    border: 2px solid red;
    padding: 10px;
    background-color: #f8d7da;
    border-radius: 5px;
    text-align: center;
  }
  
  .error-message{
    color:red;
    font-size: 0.75rem;
    display: none;
  }

  .forgot-password-link{
    font-size: 0.875rem;
    color: #007bff;
    text-decoration: none;
  }

  .forgot-password-link:hover{
    color: #0056b3;
    text-decoration: underline;
  }